
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
/* You can add global styles to this file, and also import other style files */
#particles-js canvas{
    position: fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: -1;
    background-color: #110102;
}

.registerAll{
    position: relative;
}

form{
    position: absolute;
}

.vertical-center {

        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -250%);

        color: white;
        
        font-size: 11px;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        overflow:auto; 
        display: table;
  }

.jumbotron{
    background: rgba(255,0,0,0);
    width: 50%;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(170, 3, 39) !important;
    border: 0;
}

.btn-primary:hover{
    background-color: rgb(255, 0, 55) !important;
    border: 0;
}

.btn-link, .btn-link:active, .btn-link:visited {
    color: rgb(170, 3, 39) !important;
    border: 0;
}
 
.form-control:focus {
    border-color:  rgb(170, 3, 39);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

/*.col-sm-12 button, .col-sm-12 a{
    position: relative;
    left: 35%;
}

.col-sm-4 label, .col-sm-4 div {
    width: 80%;
    position: relative;
    left: 15%;
}

.form-control{
    width: 80%;
    position: relative;
    left: 10%;
}
*/

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    overflow:auto; 
    display: table;
  }

