
<div class="home">
    <div class="container">
                <div class="row ">
                    <div class="col">
                            <p><span id="home_text"></span></p>
                            <p><a [routerLink]="['/login']" (click)="logout()" class="btn btn-link">Logout</a></p>
                            <!--<app-event></app-event> -->
                    </div>
                </div>
             
                <div *ngIf="storages">
                    <ul *ngFor="let s of storages">
                        <li><button class="btn btn-link">{{s.name}}</button></li>
                    </ul>
                </div>
        
    
                <!--
                <div class="card" style="width: 15rem;" style="color:black">
                        <div class="card-body">
                                <app-event></app-event>
                        </div>
                    </div>
                    -->

                    <button class="btn btn-primary" (click)="getBlood()">Get blood</button>
                    <div class="card" style="width: 15rem">
                            <qr-code [value]="'userId'" [size]="200"></qr-code>
                            <div class="card-body">
                            <h5 class="card-title" style="color:black">Your QR code</h5>
                    </div>
                    
        
        
               
                                
                                
                                
    <!--
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
        </li>
    </ul>
-->
   
</div>
</div>
