<div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" (click)="toggle(false)">Krv je život</a>
          
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                        <li class="dropdown"><a (click)="toggle(true)"  class="btn btn-link">Leave comment</a></li>
             </ul>
          <ul class="nav navbar-nav">
                <li class="dropdown"><a [routerLink]="['/login']" (click)="logout()" class="btn btn-link">Logout</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notification (<b>{{message_length}}</b>)</a>
              <ul class="dropdown-menu notify-drop">
                <!-- end notify title -->
                <!-- notify content -->
                <div class="drop-content">
                    <li *ngFor="let m of messages">
                        <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
                        <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">{{m.message_from_user}},{{m.message_body}} <a (click) = "markAsRead(m.id)" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
                        
                        <hr>
                        </div>
                    </li>
                    <li *ngIf="message_length==0"><div class="col-md-9 col-sm-9 col-xs-9 pd-l0"> No new notifications</div></li>
                </div>
                <div class="notify-drop-footer text-center">
                    <a href=""><i class="fa fa-eye"></i></a>
                </div>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
        </div>
</div>
<div *ngIf="active;else other_content">
<app-comment  *ngIf="currentUser" [currentUser] = "currentUser"> </app-comment>
</div>
<ng-template #other_content><app-home-body  *ngIf="currentUser" [currentUser] = "currentUser" [storages]="storages"></app-home-body></ng-template>




    